@import url('https:/fonts.googleapis.com/css2?family=Roboto+Condensed:wdht@300&display=swap');

:root{
  --primary-write: #fff;
  --primary-blue: #34ebd2;
  --primary-orange: #eb9f34;
  --primary-dark: rgba(255, 255,255, 0);
}
body{
  font-family: "Roboto Condesed" sans-serif;
}

/****************************** NavBar ***************************************/
.logo{
  width: 12.25rem;
}

/*...Menu links..*/
nav a.nav-link{
  letter-spacing: 0.6px;
  cursor: pointer;
}

.navbar-nav{
  margin-left: auto;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-write) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  width: 13.25rem;
  padding:  0;
  height: 5rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-bottom: 0.1875rem solid var(--primary-blue);
}
.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-blue); 
}